@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --fonte-regular: font-weight: 400;
    --fonte-medium: font-weight:500;
    --fonte-semi-bold: font-weight: 600;
    --fonte-bold: font-weight: 700;

  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
}

body{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    width: 90%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.header_logo {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: var(--fonte-bold);
    color: #009EB1;
}

.header_logo span{
    font-size: 40px;
    font-weight: var(--fonte-bold);
    color: #f04630;
}

.header_nav {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header_nav_item {
    color: #009EB1;
    font-weight: var(--fonte-regular);
}

.header_nav_item_button {
    background: #009EB1;
    color: white;
    width: 114px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    transition: all 1s ease;
}

.header_nav_item_button:hover {
    color: #009EB1;
    background: none;
}
.content{
    margin: 70px 0 70px 0;
}

.content_main{
    display: flex;
    justify-content: space-around;
}

.content_main_description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content_main_description_title{
    font-size: 40px;
    font-weight: var(--fonte-semi-bold);
    color: #515151;
    margin-bottom: 30px;
}

.content_main_description_primary p{
    max-width: 460px;
    font-size: 16px;
    font-weight: var(--fonte-medium);
    font-family: 'Poppins', sans-serif;
    
}

.content_andress{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}

.content_andress_subtitle {
    font-size: 24px;
    font-weight: var(--fonte-semi-bold);
    color: #515151;
    margin-bottom: 25px;
}

.content_andress p{
    font-size: 14px;
    font-weight: var(--fonte-regular);
    color: #707070;
    
}

.content_andress i{
    font-size: 22px;
    color: #707070;
    margin-right: 15px;
    padding: 5px 0;
}
footer{
    padding: 20px auto;

}

.footer_complete{
    border-top: 1px solid #707070;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.copyright_paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: var(--fonte-regular);
    color: #707070;
}

.social_network i{
    font-size: 22px;
    color: #707070;
    padding: 0 5px;
    
}